body{
  background-color: wheat
}
h1::first-letter
{
  font-size: 200%;
  color:teal;
}
#MY-PHOTO:hover{
  transform: scale(1.1);
}
#MY-PHOTO{
  border-radius: 60%;
  display: block;
  position: relative;
  left: 700px;
}
#name{
  text-align: center;
  colour:orange;
  font-size: 80px;
  left:800px;
}
#you{
  color:teal;
  position:relative;
  left:550px;
}
#about-button{
  position: relative;
  left: 870px;
  colour:white;
  background-color: orange;
  height: 50px;
  weight:200px;
  font-size: 22px;
  font-weight: bold
  text-transform:capitalize;
  border-radius: 10px;
  box-shadow: 2px 2px 2px teal;
}
#about-button:hover{
  background-color: teal;
  opacity:0.8;
  transform: scale(1.1);
}
#doro {
  colour:orange;
  text-align: center;
  font-style: italic;
}
#tuku{
  text-align: center;
  hover{
    transform: scale(1.1);
  }
}
#doro:hover{
  transform:scale(1.1);
  color: teal;
}
